<h1>All users</h1>
<ul class="users">
  <% @users.each do |user| %>
  <li>
    <%= link_to(user) do %><%= gravatar_for user %><% end %>
    <h3><%= link_to(user.name, user) %></h3>
    <h4><%= mail_to(user.email) %></h4>
  </li>
  <% end %>