<h1>Sign up</h1>

<%= form_for(@user) do |f| %>
  <%= render 'layouts/error_messages', :object => f.object %>
  <ul class="signup">
    <%= render 'fields', :f => f %>
    <li><%= f.submit "Sign up" %></li>
  </ul>
<% end %>