<section class="posts">
  <h1><%= gravatar_for @user %><%= @user.name %></h1>
</section>
<section class="profile">
  <ul>
    <li>Name: <strong><%= @user.name %></strong></li>
    <li class="link">URL: <strong><%= link_to user_path(@user), user_path(@user) %></strong></li>
  </ul>
</section>