<% if signed_in? %>

<section class="posts">
<h1 class="micropost">What's going on?</h1>
<%= render 'layouts/micropost_form' %>
<%= render 'layouts/feed' %>
</section>

<%= render 'layouts/user_info' %>

<% else %>
<%= link_to "Sign up.", signup_path, :class => "signup-btn" %>
<% end %>